* {
    margin: 0;
    padding: 0;
    overflow: visible;
    font-family:'Times New Roman', Times, serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
    overflow: visible;
}

.menu {
    padding: 5px;
    position:relative;
    z-index: 2;
    background: rgb(255, 255, 255);
    box-shadow: 4px 0px 5px rgb(113, 113, 113);
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
}

.menu h1 {
    text-align: center;
    margin-bottom: 10px;
}

.menu button {
    background: none;
    cursor: pointer;
}

.menu button, input {
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px gray;
}


canvas {
    position: relative;
    z-index: 1;
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
}