* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1 fr;
    grid-template-columns: 170px 1fr;
}

.menu {
    background: gray;
    grid-row: 1/2;
    grid-column: 1/2;
}

canvas {
    grid-row: 1/2;
    grid-column: 2/3;
}